.container {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 70px;
  max-width: 1440px;
}

html {
  background: rgb(0, 0, 0);
}

.body__wrapper {
  min-height: 4640px;
  background: url("../img/body_bg.svg");
  background-repeat: no-repeat;
  background-size: auto;
}

body.locked {
  overflow: hidden;
}

.btn {
  font-style: normal;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn__outline {
  color: #001D5F;
}

.btn__outline:hover {
  color: #DD6200;
}

.btn__primary {
  color: #ffffff;
  background-color: #001D5F;
}

.btn__primary:hover {
  background-color: #010D14;
}

.btn__secondary {
  color: #ffffff;
  background: #DD6200;
}

.btn__secondary:hover {
  background-color: #aa4b00;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.section__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-transform: capitalize;
  color: #001D5F;
}

.section__title.title__center {
  text-align: center;
}

.section__title.title__secondary {
  color: #ffffff;
}

.section__subtitle {
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  letter-spacing: 0.3px;
}

.section__subtitle.subtitle__center {
  text-align: center;
}

.section__subtitle.subtitle__secondary {
  color: #ffffff;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("RobotoSlab-Regular.woff2") format("woff2") url("../fonts/RobotoSlab-Regular.woff") format("woff");
  font-weight: 1;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("RobotoSlab-Thin.woff2") format("woff2") url("../fonts/RobotoSlab-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("RobotoSlab-ExtraLight.woff2") format("woff2") url("../fonts/RobotoSlab-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("RobotoSlab-Light.woff2") format("woff2") url("../fonts/RobotoSlab-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("RobotoSlab-Regular.woff2") format("woff2") url("../fonts/RobotoSlab-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("RobotoSlab-Medium.woff2") format("woff2") url("../fonts/RobotoSlab-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("RobotoSlab-SemiBold.woff2") format("woff2") url("../fonts/RobotoSlab-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("RobotoSlab-Bold.woff2") format("woff2") url("../fonts/RobotoSlab-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("RobotoSlab-ExtraBold.woff2") format("woff2") url("../fonts/RobotoSlab-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("RobotoSlab-Black.woff2") format("woff2") url("../fonts/RobotoSlab-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.header {
  padding-top: 40px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.nav__callback {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEAFF), to(#6EDAF8));
  background: -o-linear-gradient(top, #EBEAFF 0%, #6EDAF8 100%);
  background: linear-gradient(180deg, #EBEAFF 0%, #6EDAF8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: "Montserrat";
  cursor: pointer;
}

.nav__phone {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 6px;
}

.first {
  max-width: 939px;
  margin-left: 220px;
  margin-top: 90px;
}

.first__bg {
  display: block;
  margin-left: auto;
  margin-top: -75px;
}

.first h1 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 112px;
  color: #FFFFFF;
  max-width: 693px;
  margin-bottom: 16px;
}

.first p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.first__btn {
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEAFF), to(#6EDAF8));
  background: -o-linear-gradient(top, #EBEAFF 0%, #6EDAF8 100%);
  background: linear-gradient(180deg, #EBEAFF 0%, #6EDAF8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding: 10px;
  border: 2px solid #6EDAF8;
  -webkit-box-shadow: 0px 4px 28px rgba(110, 218, 248, 0.22);
          box-shadow: 0px 4px 28px rgba(110, 218, 248, 0.22);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 220px;
  width: 100%;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.first__btn:hover {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  border: 2px solid transparent;
  -webkit-box-shadow: 0px 4px 28px rgba(110, 218, 248, 0.42);
          box-shadow: 0px 4px 28px rgba(110, 218, 248, 0.42);
}

.why {
  margin-top: 120px;
}

.why__items {
  margin-left: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why__item {
  max-width: 337px;
}

.why__item h6 {
  margin: 0;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.why__item p {
  margin-top: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
}

.why__item2 {
  margin-left: 106px;
  margin-top: 55px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
}

.why__item2 ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
}

.why__item2 ul li p {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
}

.why__item2 ul li p::before {
  display: block;
  content: "";
  background: url("../img/arrow_right.svg");
  width: 38px;
  height: 38px;
}

.arrow__down {
  margin-top: 120px;
}

.how {
  margin-top: 200px;
  margin-left: 154px;
}

.how__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how__wrap1 {
  margin-right: 60px;
  margin-top: 245px;
}

.how__title {
  margin-bottom: 40px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.how__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

.how__list-wrap {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  color: #FFFFFF;
}

.how__list-wrap p {
  margin-top: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.how__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.services {
  margin-top: 200px;
  margin-left: 110px;
}

.services__title {
  margin-bottom: 60px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

.services__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
  color: #FFFFFF;
}

.form {
  margin-top: 24px;
  max-width: 300px;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.form__btn {
  margin-top: 0 !important;
  width: 100%;
}

.form__item {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.form__item label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.form__item input {
  font-family: "Montserrat";
  outline: none;
  margin-top: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border: none;
  background: none;
  margin-bottom: 4px;
}

.form__item input::after {
  content: "";
  background: url("../img/border_bg.svg");
}

#name::-moz-placeholder,
#phone::-moz-placeholder {
  padding-bottom: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6) !important;
}

#name:-ms-input-placeholder,
#phone:-ms-input-placeholder {
  padding-bottom: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6) !important;
}

#name::-webkit-input-placeholder, #phone::-webkit-input-placeholder {
  padding-bottom: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6) !important;
}

#name::-moz-placeholder, #phone::-moz-placeholder {
  padding-bottom: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6) !important;
}

#name:-ms-input-placeholder, #phone:-ms-input-placeholder {
  padding-bottom: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6) !important;
}

#name::-ms-input-placeholder, #phone::-ms-input-placeholder {
  padding-bottom: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6) !important;
}

#name::placeholder,
#phone::placeholder {
  padding-bottom: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6) !important;
}

.btn__exampl {
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEAFF), to(#6EDAF8));
  background: -o-linear-gradient(top, #EBEAFF 0%, #6EDAF8 100%);
  background: linear-gradient(180deg, #EBEAFF 0%, #6EDAF8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 10px;
  -webkit-box-shadow: 0px 4px 28px rgba(110, 218, 248, 0.22);
          box-shadow: 0px 4px 28px rgba(110, 218, 248, 0.22);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 2px;
  max-width: 220px;
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: 310px;
  border: 2px solid #6EDAF8;
  text-fill-color: transparent;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.btn__exampl:hover {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  border: 2px solid transparent;
  -webkit-box-shadow: 0px 4px 28px rgba(110, 218, 248, 0.42);
          box-shadow: 0px 4px 28px rgba(110, 218, 248, 0.42);
}

.overlock {
  overflow: hidden;
}

.modal__close {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}

.modal__close:hover {
  scale: 1.1;
}

.questions {
  margin-top: 200px;
  margin-left: 110px;
}

.questions__title {
  margin-bottom: 40px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.questions__items {
  gap: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questions__item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.questions__item-part1 {
  max-width: 760px;
}

.questions__item-part2 {
  max-width: 819px;
}

.questions__item-part3 {
  max-width: 847px;
}

.questions__item-part4 {
  max-width: 1027px;
}

.questions__item-part {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  color: #FFFFFF;
}

.questions__item-part p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 15px;
}

html.modal-active,
body.modal-active {
  overflow: hidden;
}

.opened {
  z-index: 20;
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-transform: scale(1) !important;
      -ms-transform: scale(1) !important;
          transform: scale(1) !important;
}

.modal-background {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  z-index: 1;
}

#modal-container.five {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

#modal-container.five {
  background: rgba(0, 0, 0, 0);
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.five .modal {
  -webkit-transform: translateX(-1500px);
      -ms-transform: translateX(-1500px);
          transform: translateX(-1500px);
  -webkit-animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.five.out {
  -webkit-animation: quickScaleDown 0s 0.5s linear forwards;
  animation: quickScaleDown 0s 0.5s linear forwards;
}

#modal-container.five.out {
  -webkit-animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.five.out .modal {
  -webkit-animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-background2 {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

#modal-container2 {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  z-index: 1;
}

#modal-container2.five {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

#modal-container2.five {
  background: rgba(0, 0, 0, 0);
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container2.five .modal {
  -webkit-transform: translateX(-1500px);
      -ms-transform: translateX(-1500px);
          transform: translateX(-1500px);
  -webkit-animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container2.five.out {
  -webkit-animation: quickScaleDown 0s 0.5s linear forwards;
  animation: quickScaleDown 0s 0.5s linear forwards;
}

#modal-container2.five.out {
  -webkit-animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container2.five.out .modal {
  -webkit-animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container2 {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}

#modal-container {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}

.modal {
  padding: 30px 40px 50px 40px;
  background: #000000;
  -webkit-box-shadow: 0px 4px 34px rgba(255, 255, 255, 0.12);
          box-shadow: 0px 4px 34px rgba(255, 255, 255, 0.12);
  z-index: 100;
  max-width: 748px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  top: 23%;
  left: 110px;
}

.modal__title {
  margin: 0;
  text-align: left;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.modal__title2 {
  margin: 0;
  text-align: left;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.modal__subtitle {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  color: #FFFFFF;
  margin-top: 24px;
}

.modal__subtitle2 {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  color: #FFFFFF;
  margin-top: 24px;
}

.hide {
  visibility: hidden;
}

@-webkit-keyframes roadRunnerIn {
  0% {
    -webkit-transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
            transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }

  70% {
    -webkit-transform: translateX(30px) skewX(0deg) scaleX(0.9);
            transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }

  100% {
    -webkit-transform: translateX(0px) skewX(0deg) scaleX(1);
            transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}

@keyframes roadRunnerIn {
  0% {
    -webkit-transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
            transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }

  70% {
    -webkit-transform: translateX(30px) skewX(0deg) scaleX(0.9);
            transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }

  100% {
    -webkit-transform: translateX(0px) skewX(0deg) scaleX(1);
            transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}

@-webkit-keyframes roadRunnerOut {
  0% {
    -webkit-transform: translateX(0px) skewX(0deg) scaleX(1);
            transform: translateX(0px) skewX(0deg) scaleX(1);
  }

  30% {
    -webkit-transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
            transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }

  100% {
    -webkit-transform: translateX(1500px) skewX(30deg) scaleX(1.3);
            transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}

@keyframes roadRunnerOut {
  0% {
    -webkit-transform: translateX(0px) skewX(0deg) scaleX(1);
            transform: translateX(0px) skewX(0deg) scaleX(1);
  }

  30% {
    -webkit-transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
            transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }

  100% {
    -webkit-transform: translateX(1500px) skewX(30deg) scaleX(1.3);
            transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}

@-webkit-keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }

  100% {
    opacity: 0;
    top: -20px;
  }
}

@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }

  100% {
    opacity: 0;
    top: -20px;
  }
}

.showblock {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  z-index: 1;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.Show {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  z-index: 20;
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-transform: scale(1) !important;
      -ms-transform: scale(1) !important;
          transform: scale(1) !important;
}

.Show_bg {
  z-index: 20;
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-transform: scale(1) !important;
      -ms-transform: scale(1) !important;
          transform: scale(1) !important;
}

.showblock_modal {
  padding: 30px 40px 50px 40px;
  background: #000000;
  -webkit-box-shadow: 0px 4px 34px rgba(255, 255, 255, 0.12);
          box-shadow: 0px 4px 34px rgba(255, 255, 255, 0.12);
  z-index: 100;
  max-width: 748px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  top: 23%;
  left: 110px;
}

.showblock_background {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
}

.forms {
  margin-top: 100px !important;
  margin-left: calc(-50vw + 50%);
  width: 100vw;
  height: 768px;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.forms__wrapper {
  position: relative;
  z-index: 2;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.forms_bg_icon {
  mix-blend-mode: hard-light;
  position: absolute;
}

.forms h2 {
  padding-top: 100px;
  margin: 0;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.forms p {
  margin-top: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  color: #FFFFFF;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.footer__item a {
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

ul {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #fff;
  font-family: "Roboto Slab";
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: #CCCCCC;
}

body::-webkit-scrollbar {
  border-radius: 50px;
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 25%, transparent 100%, rgb(0, 0, 0) 75%, transparent);
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1440px;
  }

  .btn {
    font-size: 14px;
    padding: 10px 15px;
  }

  .section__title {
    font-size: 42px;
  }
}

@media (max-width: 997.98px) {
  .container {
    max-width: 998px;
  }

  .btn__outline {
    color: #ffffff;
  }

  .section__title {
    font-size: 34px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 768px;
  }

  .section__title {
    font-size: 28px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }

  .section__title {
    line-height: 120%;
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .why {
    margin-top: 65px;
  }

  .how__wrap1 {
    position: absolute;
    max-width: 100px;
  }

  .how {
    margin-top: 74px;
    margin-left: 0;
  }

  .how__list-wrap {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .how__list-wrap p {
    font-size: 14px;
    line-height: 20px;
  }

  .how__list {
    gap: 26px;
  }

  .how__wrapper {
    position: relative;
  }

  .how__title {
    font-size: 26px;
    line-height: 42px;
  }

  .why__item2 {
    margin-top: 24px;
  }

  .why__item2 ul {
    gap: 24px;
  }

  .why__item2 ul li p {
    gap: 8px;
    font-size: 14px;
    line-height: 20px;
  }

  .why__item2 ul li p::before {
    display: block;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .why__item h6 {
    font-size: 26px;
    line-height: 42px;
  }

  .why__item p {
    font-size: 12px;
    line-height: 20px;
  }

  .why__item {
    margin-left: 8px;
  }

  .services__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header {
    padding-top: 20px;
  }

  .header__logo {
    max-width: 120px;
  }

  .header__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .body__wrapper {
    height: auto;
    background: url("../img/body_mob.svg");
    background-repeat: no-repeat;
    background-size: auto;
  }

  .nav__callback {
    font-size: 12px;
    line-height: 18px;
  }

  .nav__phone {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 26px;
  }

  .first__bg {
    margin-top: -210px;
    max-width: 183px;
  }

  .arrow__down {
    margin: 0 auto;
    margin-top: 149px !important;
  }

  .first__btn {
    max-width: 340px;
    margin-top: 160px;
  }

  .first {
    margin-top: 36px;
    margin-left: 0;
  }

  .first p {
    font-size: 20px;
    line-height: 24px;
  }

  .first h1 {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 47px;
  }

  .why__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
}